/* 
    Document   : style
    Created on : 05-June-2014, 16:10
    Author     : William Fyson    
*/

body{
    //margin-left: auto;
    //margin-right: auto;
    //margin-top: 1%;
    //width: 80%;
}

/*
    Header
*/
#header{
    width: 100%;
    height: 34px;
    margin-bottom: 50px;        
}

#header .login-status{
    float:right;
}

#header form{
    display: inline;
}

#container{
    margin-left: auto;
    margin-right: auto;
    width: 80%;   
}

/*
    Login
*/
#login-form, #register-form {
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 15px;
    width: 50%;    
}

#register{
    border-top: 2px outset #aaa;
    
    padding-top: 20px;
    margin-top: 40px;    
}

/*
    The big divs
*/
#home-view ul{
    list-style-type: none;   
    padding: 0;
}

/*
    Overview entries
*/
.no-results{
    margin-top: 10px;
    text-align: center;
}

.entry{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;       
    max-height: 110px;
    
    cursor: pointer;
    
    display: block;
    
    text-align:left;
    color: black;
    
    background: #eee;
}

.doc-entry:hover, .compound-entry:hover, .reaction-entry:hover{    
    background: #ddd;
}

.entry img{
    max-height: 90px;
} 

/*
 * Doc entries
 */

.entry.doc-entry .doc-buttons{
    padding-top: 10px;
}

.entry.doc-entry a{
    margin-top: 3px;
    margin-bottom: 3px;
    display: block;
}

.entry.upload-entry{
    height:34px;
}

.entry.upload-entry .progress-bar{
   height: 20px;
   margin-top: 7px;
   margin-bottom: 7px;
}

#upload-progress{
    display: none;
}

#file-upload{
    background: none;
}


.entry.compound-entry .compound-data{
    padding-top: 30px;
    text-overflow: ellipsis;
    max-height: 70px;
    overflow: hidden;
}

.entry.compound-entry .compound-buttons{
    padding-top: 10px;
}

.entry.compound-entry .compound-buttons a, .entry.reaction-entry .reaction-buttons a{
    margin-top: 3px;
    margin-bottom: 3px;
    display: block;
}

/*
    Reaction entries
 */
 .entry.reaction-entry .reaction-data{
     padding-top:5px;
 }
 
 .entry.reaction-entry .reaction-data span{
     display: block;
     text-overflow: ellipsis;
     overflow: hidden;
 }

/*
    Sidebar
*/
#sidebar{
    position:fixed;
    
    height: 85%;
    
    background-color: #f7f7f9;
    
    border: 1px solid #e1e1e8;
    border-radius: 4px;   
    
    overflow: auto;
}

/*
    Extract
*/

#extract-view{
    text-align: justify;
}

#extract-panel{
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 2px outset #aaa;
    position: fixed;
    width: 53%;
    height: 110px;
}

#extract-panel .title .title-left, #extract-panel .title .title-right{
    width: 25%;
    display: inline-block;
    vertical-align: middle;
}

#extract-panel .title h3{
    width: 50%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

#extract-panel .title .title-right button{
    float: right;
}

#extract-panel .input{
    display: inline-block; 
    width: 80%;
}

#extract-panel .input .form-control[readonly]{
    cursor: pointer;
}

#extract-panel .multi-stage{
    vertical-align: middle;
    display: inline-block; 
    width: 20%;
}

#extract-panel .multi-stage .btn-group{
    float: right;
}

#extract-panel .input .btn{
    margin-left: 10px;
}

#extract-panel .input h4{
    display: inline-block; 
    margin-right: 5px;
}

#extract-panel .input input{
    display: inline-block;  
    width: 50%;   
    margin-right: 10px;
}

#extract-panel #file-upload{
    display: inline-block;
}

#extract-panel #upload-progress{
    width: 75%;
    vertical-align: middle;
}

#extract-panel #files{
    position: absolute;
    z-index: 2;
    width:110px;
    filter: alpha(opacity=0);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity:0;
    background-color:transparent;
    color:transparent;
}

#extract-panel .image-input #select-image{
    width: 40%;
    border-right: solid;
    border-width: thin;
    padding-left: 5px;  
    display: inline-block;
    vertical-align: middle;
}

#extract-panel .image-input #file-upload{
    margin-left: 5px;
    width: 40%;
    display: inline-block;
    vertical-align: middle;
}

#extract-panel .image-input #upload-progress{
    margin-left: 5px;
    width: 40%;
    vertical-align: middle;
}

#extract-panel .buttons{
    height: 34px;
}

#extract-panel .buttons .btn-next{
    float: right;    
}

#extract-panel .input .custom-list{
    display: none;
    z-index: 100;
    background: white;
    box-shadow: 10px 10px 5px #888888;
    width: 400px;
    
    position: absolute;
    left: 170px;
}

#extract-panel .input .custom-list .subtitle{    
    padding: 5px 0 5px 5px;
    background: #eeeeee;
}

#extract-panel .input .custom-list .list-item{    
    padding: 10px 0 10px 5px;
    border-bottom: 1px solid black;
    background: #eeeeee
}

#extract-panel .input .custom-list .list-item:hover{
    cursor: pointer;
    background: #e1e1e8;
}

#extract-view #view-tabs
{
    margin-top: 120px;
}

#extract-content{
    height: 675px;
    margin-top: 20px; 
    padding-right: 20px;
    overflow-y: auto;
    overflow-x: hidden;
}

#extract-content .selector{
    vertical-align: top;
    display: inline-block;
    width: 5%;
}

#extract-content h2{
    width: 95%;
}

#extract-content p{    
    vertical-align: top;
    width: 95%;
    display: inline-block;
    
    border-left: solid;
    border-width: thin;
    padding-left: 5px;        
}

#extract-content img{
    max-width: 100%;
}

#extract-content .heading .selector{
    display:inline-block;
    vertical-align: middle;
}

#extract-content .heading .header{
    display:inline-block;
    vertical-align: middle;
}

#extract-content table{
    margin-left: 5%;
}

#extract-content td{
    padding: 2px 2px 2px 2px;
    border: thin solid black;    
}

#extract-content td div[disabled]:hover{
    cursor: not-allowed;
}

#extract-content td .para:hover{    
    cursor: pointer;
    background: #e1e1e8;
} 

#extract-content td p{
    border: none;
}

#extract-content .selected p{
    color: #245269;
}

#extract-content .view-image{
    width: 250px;
    height: 250px;
    border: 1px solid #e1e1e8;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 10px;
    position: relative;
}

#extract-content .view-image:hover{   
    border: 1px solid #808080;
    cursor: pointer;
}

#extract-content .view-image.disabled:hover{    
    border: 1px solid #e1e1e8;
    cursor: not-allowed;    
}

#extract-content .view-image img{
    max-height: 100%; 
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

#sidebar.extract{    
    border: none;
    padding: 0;
}

#sidebar.extract #navigation a{
    display: block;
    margin-bottom: 10px;
}

#sidebar.extract #navigation a.heading-2{
    margin-left: 15px;
}

#sidebar.extract #navigation a.heading-3{
    margin-left: 30px;
}

#sidebar.extract #navigation a.heading-4{
    margin-left: 45px;
}

.tab-content #navigation{
    padding-left: 15px;
    padding-right: 15px;
}

.tab-content #progress{
    padding-left: 15px;
    padding-right: 15px;
}

#sidebar.extract .stage-overview{
    width: 100%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 10px;
    
    padding: 5px 5px 5px 5px;
    
    background: #eeeeee;
    
    border: 1px solid #e1e1e8;
}

#sidebar.extract .stage-overview.current-stage{
    background: #e1e1e8;
}

#sidebar.extract .stage-overview.invalid-stage.alert{
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}

#sidebar.extract .stage-overview.current-stage.invalid-stage.alert{
    background-color: salmon;
    border-color: #ebccd1;
    color: #a94442;
}

#sidebar.extract .stage-overview .value-overview, #sidebar.extract .stage-overview .name-overview{
    margin-right: 5px;
    display: inline-block;
    vertical-align: top;
}

#sidebar.extract .stage-overview .value-overview .label{
    margin-right: 5px;
}

/*
    Extract - Complete Modal
*/

#complete-modal .left-panel{
    width: 45%;
    margin-right: 2.5%;
    border-right: 1px solid #e1e1e8;
    display: inline-block;
    vertical-align: top;
}

#complete-modal .right-panel{
    width: 45%;
    margin-left: 2.5%;
    display: inline-block;
    vertical-align: top;
}

#complete-modal .right-panel .button-panel a{
    float: right;
    margin-bottom: 10px;
    display: block;
    width: 60%;
}

/*
    Views
*/

.view-title{
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 2px outset #aaa;
}

.view-content .view-details{
    display: inline-block;
    height: 300px;
    vertical-align: top;    
    overflow-y: auto;
}

.view-details{
    margin-bottom: 10px;
}

.view-details h4{
    margin-bottom: 5px;
}

.view-details meta-entry{
    margin-bottom: 5px;
}

.contributor-table .btn-xs{
    margin-left: 5px;
}


/*
    Compound Views
*/
#compound-content .spectra h3{
    margin-top: 10px;
    display: inline-block;
    vertical-align: middle;    
}

#compound-content .compound-spectrum{    
    display: inline-block;
}

#compound-content .compound-spectrum img{    
    width: 200px;    
}


/*
    User View
*/

.user-view{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/*
    Contributor Modal
*/
#contributor-error{
    display: none;
}

/*
    Higjlight selector
*/

#highlight-select{
    display: none;
    position: absolute;
    
    z-index: 100;        
}

#highlight-text{
    padding: 4px;
    
    background: #eeeeee;
    border-left-color: #449d44;
    border-left-width: 5px;
    border-left-style: solid;
    border-radius: 3px;
    border-top: 1px solid #e1e1e8;
    border-right: 1px solid #e1e1e8;
    border-bottom: 1px solid #e1e1e8;
    
    max-height: 350px;
    max-width: 500px;
    overflow-y: auto;
    
    display: inline-block;
    vertical-align: top;
}

#highlight-input{
    display: inline-block;
    vertical-align: top;
    background-image: url('../img/tick.png');
    
    width: 40px;
    height: 40px;
}

#highlight-input.disabled{
    background-image: url('../img/disabled.png');    
}