/* 
    Document   : style
    Created on : 05-June-2014, 16:10
    Author     : William Fyson    
*/

body{
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    width: 80%;
}

/*
    Header
*/
#header{
    width: 100%;
    height: 34px;
    margin-bottom: 50px;
}

#header .login-status{
    float:right;
}

#header form{
    display: inline;
}

/*
    Login
*/

#login {
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 15px;
    width: 50%;
    
}

#login ul{
    padding-left: 0px;
}

#login ul li{
    list-style-type: none;
    
    margin-top: 5px;
}

#login li label{
    display: block;
}

#register{
    border-top: 2px outset #aaa;
    
    padding-top: 20px;
    margin-top: 40px;
    
}

#register form, #register h4{
    display: inline;
}

/*
    The big divs
*/

#home-view ul{
    list-style-type: none;   
    padding: 0;
}

/*
    Overview entries
*/
.entry{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;       
    max-height: 110px;
    
    cursor: pointer;
    
    display: block;
    
    text-align:left;
    color: black;
    
    
}

.doc-entry, .compound-entry, .reaction-entry{
    padding: 1%;    
    background: #eee;
}

.doc-entry:hover, .compound-entry:hover, .reaction-entry:hover{    
    background: #ddd;
}

.entry img{
    max-height: 90px;
} 

/*
 * Doc entries
 */
.entry.doc-entry .doc-info{
    display: inline-block;
    width: 79%;
}

.entry.doc-entry .doc-buttons{
    width: 20%;
    display: inline-block;
    vertical-align: middle;
}

.entry.doc-entry a{
    margin-bottom: 5px;
    display: block;
}

.entry.upload-entry{
    height:34px;
}

.entry.upload-entry .progress-bar{
   height: 20px;
   margin-top: 7px;
   margin-bottom: 7px;
}

#upload-progress{
    display: none;
}

/*
 * Compound entries
 */
.entry.compound-entry{
    padding: 5px;    
    background: #eee;
}

.entry.compound-entry:hover{
    background: #ddd;
}

.entry.compound-entry .compound-jmol{
    display: inline-block;
    vertical-align: middle;
}

.entry.compound-entry .compound-data{
    vertical-align: middle;
    display:inline-block;
    width: 70%;
}

.entry.compound-entry .compound-buttons{
    width: 10%;
    display: inline-block;
    vertical-align: middle;
}

.entry.compound-entry .compound-buttons a{
    width: 100%;
}

/*
 * Reaction entries
 *
 */
.entry.reaction-entry .reaction-data{
    vertical-align: middle;
    display:inline-block;
    width: 85%;
}

.entry.reaction-entry .reaction-buttons{
    width: 10%;
    display: inline-block;
    vertical-align: middle;
}

.entry.compound-entry .reaction-buttons a{
    width: 100%;
}

#sidebar{
    position:fixed;
    
    height: 85%;
    
    background-color: #f7f7f9;
    
    border: 1px solid #e1e1e8;
    border-radius: 4px;   
    
    overflow: auto;
}

/*
    Extract
*/

#extract-view{
    text-align: justify;
}

#extract-panel{
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 2px outset #aaa;
    position: fixed;
    width: 53%;
    height: 110px;
}

#extract-panel .title .title-left, #extract-panel .title .title-right{
    width: 25%;
    display: inline-block;
    vertical-align: middle;
}

#extract-panel .title h3{
    width: 50%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

#extract-panel .title .title-right button{
    float: right;
}

#extract-panel .input{
    display: inline-block; 
    width: 80%;
}

#extract-panel .multi-stage{
    vertical-align: middle;
    display: inline-block; 
    width: 20%;
}

#extract-panel .multi-stage .btn-group{
    float: right;
}

#extract-panel .input h4{
    display: inline-block; 
    margin-right: 5px;
}

#extract-panel .input input{
    display: inline-block;  
    width: 50%;   
    margin-right: 10px;
}

#extract-panel #file-upload{
    display: inline-block;
}

#extract-panel #upload-progress{
    width: 75%;
    vertical-align: middle;
}

#extract-panel #files{
    position: absolute;
    z-index: 2;
    width:110px;
    filter: alpha(opacity=0);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity:0;
    background-color:transparent;
    color:transparent;
}

#extract-panel .image-input #select-image{
    width: 40%;
    border-right: solid;
    border-width: thin;
    padding-left: 5px;  
    display: inline-block;
    vertical-align: middle;
}

#extract-panel .image-input #file-upload{
    margin-left: 5px;
    width: 40%;
    display: inline-block;
    vertical-align: middle;
}

#extract-panel .image-input #upload-progress{
    margin-left: 5px;
    width: 40%;
    vertical-align: middle;
}

#extract-panel .buttons{
    height: 34px;
}

#extract-panel .buttons .btn-next{
    float: right;    
}

#extract-panel .input .compound-list{
    display: none;
    z-index: 100;
    background: white;
    box-shadow: 10px 10px 5px #888888;
    width: 400px;
    
    position: relative;
    left: 170px;
}

#extract-panel .input .compound-list .subtitle{    
    padding: 5px 0 5px 5px;
    background: #eeeeee;
}

#extract-panel .input .compound-list .compound-item{    
    padding: 10px 0 10px 5px;
    border-bottom: 1px solid black;
    background: #eeeeee
}

#extract-panel .input .compound-list .compound-item:hover{
    cursor: pointer;
    background: #e1e1e8;
}

#extract-content{
    height: 700px; 
    margin-top: 120px;
    padding-right: 20px;
    overflow-y: auto;
    overflow-x: hidden;
}

#extract-content .selector{
    vertical-align: top;
    display: inline-block;
    width: 5%;
}

#extract-content p{    
    vertical-align: top;
    width: 95%;
    display: inline-block;
    
    border-left: solid;
    border-width: thin;
    padding-left: 5px;        
}

#extract-content img{
    max-width: 100%;
}

#extract-content .heading .selector{
    display:inline-block;
    vertical-align: middle;
}

#extract-content .heading .header{
    display:inline-block;
    vertical-align: middle;
}

#extract-content table{
    margin-left: 5%;
}

#extract-content td{
    padding: 2px 2px 2px 2px;
    border: thin solid black;    
}

#extract-content td:hover{    
    cursor: pointer;
    background: #e1e1e8;
} 

#extract-content td p{
    border: none;
}

#sidebar.extract{    
    padding-top: 5px;
}

#sidebar.extract .stage-overview{
    width: 100%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 10px;
    
    padding: 5px 5px 5px 5px;
    
    background: #eeeeee;
    
    border: 1px solid #e1e1e8;
}

#sidebar.extract .stage-overview.current-stage{
    background: #e1e1e8;
}

#sidebar.extract .stage-overview.invalid-stage.alert{
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}

#sidebar.extract .stage-overview.current-stage.invalid-stage.alert{
    background-color: salmon;
    border-color: #ebccd1;
    color: #a94442;
}

#sidebar.extract .stage-overview .value-overview, #sidebar.extract .stage-overview .name-overview{
    margin-right: 5px;
    display: inline-block;
    vertical-align: top;
}

#sidebar.extract .stage-overview .value-overview .label{
    margin-right: 5px;
}

/*
    Extract - Complete Modal
*/

#complete-modal .left-panel{
    width: 45%;
    margin-right: 2.5%;
    border-right: 1px solid #e1e1e8;
    display: inline-block;
    vertical-align: top;
}

#complete-modal .right-panel{
    width: 45%;
    margin-left: 2.5%;
    display: inline-block;
    vertical-align: top;
}

#complete-modal .right-panel .button-panel a{
    float: right;
    margin-bottom: 10px;
    display: block;
    width: 60%;
}

/*
    Views
*/

.view-title{
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 2px outset #aaa;
}

.view-content .view-details{
    display: inline-block;
    height: 300px;
    vertical-align: top;    
}

.view-content .keyword{
    display: inline-block;
}

.view-details .meta-title{    
    display:inline-block;
    margin-right: 5px;
}

.view-details .meta-value{
    display:inline-block;
}

/*
    Compound Views
*/
#compound-content #appdiv{
    display: inline-block;
    width: 300px;
    margin-right: 10px;
}